    section .article-cont{
        padding: 90px 50px;
        background: url("../img/flames.png") no-repeat ;
        background-attachment: fixed;
        color: #111;
    }
    .btn-go-to-page {
        background: transparent;
        border: solid 1px #111;
        color: #111;
        border-radius: 2px;
        margin: 10px 0;
        padding: 5px 20px;
        -webkit-transition: .3s all ease;
        -moz-transition: .3s all ease;
        transition: .3s all ease;
        letter-spacing: 2px;
        font-size: 12px;
    }
    .btn-go-to-page:hover{
        background-color: #111;
        color: #fff;
        -webkit-transition: .3s all ease;
        -moz-transition: .3s all ease;
        transition: .3s all ease;
    }